TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=secret_app_key_32_characters_long_str
APP_URL=http://localhost:3333
SESSION_DRIVER=cookie
NODE_ENV=development

# Configuração de Portas Externas do Docker Compose
# Defina o número da porta desejada ou '0' para o Docker atribuir uma porta aleatória disponível
FRONTEND_PORT=80
API_PORT=3333

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_DATABASE=netmonitor

REDIS_HOST=127.0.0.1
REDIS_PORT=6379